
@page
@model FinalProjectEmsGems_1.Pages_Products.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center" style="color: gold;">Jewelry Products</h1>


<p>
    <!-- <a asp-page="Create">Create New</a> -->
</p>

<div class="row">
    <form class="d-flex" role="search" asp-page="./Index" method="get">
        <div class="col-3">
            <div class="input-group">
                <span class="input-group-text"><i class="bi bi-search"></i></span>
                <input class="form-control me-2" type="search" name="CurrentSearch" value="@Model.CurrentSearch" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </div>
        </div>
    </form>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Image
            </th>
            <th>
    @{
        //Alternate sort order for product name
        var nameSort = Model.CurrentSort == "name_asc" ? "name_desc" : "name_asc";
    }
    <a asp-page="./Index" asp-route-CurrentSort="@nameSort" asp-route-PageNum="@Model.PageNum">@Html.DisplayNameFor(model => model.Product[0].Name)</a>
</th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].StockQuantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Product) {
    <tr>
        <td>
            <img src="@item.ImagePath" alt="@item.Name" class="img-fluid" style="max-width:120px; border:2px solid red; background:yellow;" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StockQuantity)
        </td>
        <td>
            <div class="d-flex flex-column gap-2">
                <form method="post" asp-page-handler="AddToCart" style="margin:0;">
                    <input type="hidden" name="productId" value="@item.ProductID" />
                    <button type="submit" class="btn btn-warning w-100" style="min-width:130px; height:40px; display:flex; align-items:center; justify-content:center;">
                        <i class="bi bi-cart-plus"></i> Add to Cart
                    </button>
                </form>
                <a asp-page="Details" asp-route-id="@item.ProductID" class="btn btn-info w-100" style="min-width:130px; height:40px; display:flex; align-items:center; justify-content:center;">Details</a>
            </div>
        </td>
    </tr>
}
    </tbody>
</table>

<nav aria-label="Page navigation">
    <ul class="pagination
        justify-content-center">
        <li class="page-item @(Model.PageNum <= 1 ? "disabled" : "")">
            <a class="page-link" asp-route-PageNum="@(Model.PageNum - 1)">Previous</a>
        </li>
        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item @(i == Model.PageNum ? "active" : "")">
                <a class="page-link" asp-route-PageNum="@i">@i</a>
            </li>
        }
        <li class="page-item @(Model.PageNum >= Model.TotalPages ? "disabled" : "")">
            <a class="page-link" asp-route-PageNum="@(Model.PageNum + 1)">Next</a>
        </li>
    </ul>
</nav>